.icon {
  margin-right: 5px;
  vertical-align: sub;
  width: 15px;
  height: 15px;
  font-size: 15px;
}

:host(.medium) .icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

:host(.big) .icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}
