.login {
  &__page {
    align-items: center;
    flex-direction: row;
    display: flex;
    height: 100%;
    justify-content: center;
  }

  &__title {
    margin-bottom: 24px;
  }

  &__card {
    width: 350px;
  }

  &__input {
    width: 100%;
    margin-bottom: 12px;
  }
}
