<div class="login__page">
  <div class="login__note">
    login: <b>Olsen</b> password: <b>in</b>
    <span class="login__note-divider"> or </span>
    login: <b>Hobbs</b> password: <b>sit</b>
  </div>
  <mat-card class="login__card">
    <mat-card-title class="login__title">Sign in</mat-card-title>
    <div class="field-label">
      <label for="login">Login:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="login__input">
      <mat-placeholder>Enter login</mat-placeholder>
      <input id="login" matInput type="text" [(ngModel)]="userLogin">
    </mat-form-field>
    <div class="field-label">
      <label for="password">Password:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="login__input">
      <mat-placeholder>Enter password</mat-placeholder>
      <input id="password" matInput type="password" [(ngModel)]="password" (keypress)="onKeyPress($event)">
    </mat-form-field>
    <mat-card-footer>
      <button mat-button class="btn blue medium" (click)="login()">Login</button>
    </mat-card-footer>
  </mat-card>
</div>
