.mat-form-field-wrapper {
  padding-bottom: 0;
  background: #fff;
}

.mat-toolbar.mat-accent {
  background-color: #fff;
  color: #000;
}

.mat-toolbar.mat-primary {
  background-color: #414452;
  color: #fff;
}

.mat-button.mat-accent .mat-button-focus-overlay {
  background-color: inherit;
}
