$border-style: 1px solid #30b6dd;
$border-invalid-style: 1px solid #f44336;

.mat-toolbar {
  &.mat-toolbar-single-row {
    padding: 0;

    & > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &.mat-accent {
    background-color: #fff;
    color: #000;
  }

  &.mat-primary {
    background-color: #414452;
    color: #fff;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.mat-button {
  &.mat-accent &-focus-overlay {
    background-color: inherit;
  }
}

.mat-form-field {
  &-infix {
    border-top-width: .3em;
  }

  &-wrapper {
    padding-bottom: 0;
    background: #fff;
  }

  &.mat-form-field-appearance-outline {
    &.mat-form-field-invalid {
      & .mat-form-field-flex:hover {
        & .mat-form-field-outline-start,
        & .mat-form-field-outline-end,
        & .mat-form-field-outline-gap {
          border: $border-invalid-style;
        }

        & .mat-form-field-outline-start,
        & .mat-form-field-outline-gap {
          border-right-style: none;
        }

        & .mat-form-field-outline-end,
        & .mat-form-field-outline-gap {
          border-left-style: none;
        }
      }

      &.mat-focused {
        & .mat-form-field-label {
          color: #f44336;
        }

        & .mat-form-field-flex:hover {
          & .mat-form-field-outline-gap {
            border-top-style: none;
          }
        }

        & .mat-form-field-outline-start,
        & .mat-form-field-outline-end {
          border: $border-invalid-style;
        }

        & .mat-form-field-outline-start {
          border-right-style: none;
        }

        & .mat-form-field-outline-end {
          border-left-style: none;
        }

        & .mat-form-field-outline-gap {
          border-bottom: $border-style;
        }
      }
    }

    & .mat-form-field-flex:hover {
      & .mat-form-field-outline-start,
      & .mat-form-field-outline-end,
      & .mat-form-field-outline-gap {
        border: $border-style;
      }

      & .mat-form-field-outline-start,
      & .mat-form-field-outline-gap {
        border-right-style: none;
      }

      & .mat-form-field-outline-end,
      & .mat-form-field-outline-gap {
        border-left-style: none;
      }
    }

    &.mat-form-field-can-float.mat-form-field-should-float {
      & .mat-form-field-outline-gap {
        border-top-style: none;
      }

      & .mat-form-field-flex:hover {
        & .mat-form-field-label {
          color: #30b6dd;
        }
      }
    }

    & .mat-form-field-outline-thick {
      & .mat-form-field-outline-start,
      & .mat-form-field-outline-end,
      & .mat-form-field-outline-gap {
        border-width: 1px;
      }
    }

    .mat-form-field-infix {
      padding: .8em 0;
    }

    &.mat-focused {
      & .mat-form-field-label {
        color: #30b6dd;
      }

      & .mat-form-field-flex:hover {
        & .mat-form-field-outline-gap {
          border-top-style: none;
        }
      }

      & .mat-form-field-outline-start,
      & .mat-form-field-outline-end {
        border: $border-style;
      }

      & .mat-form-field-outline-start {
        border-right-style: none;
      }

      & .mat-form-field-outline-end {
        border-left-style: none;
      }

      & .mat-form-field-outline-gap {
        border-bottom: $border-style;
      }
    }
  }
}

.mat-card {
  padding: 24px!important;

  & .mat-card-footer {
    margin: 12px 0 0;
    text-align: right;

    & :last-child {
      margin-left: 12px;
    }
  }
}

.mat-calendar {
  &-body-selected {
    background-color: #30b6dd;
  }
}

.mat-datepicker-toggle {
  &-active {
    color: #30b6dd;
  }

  & > button {
    margin-right: -.57em;
  }
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #30b6dd;
}
