.btn {
  font-size: 11px;
  font-weight: 500;
  color: #fff;
  flex: none;

  &.blue {
    background-color: #30b6dd;
  }
  &.green {
    background-color: #9bc837;
  }
  &.white {
    background-color: #fff;
    color: #000;
  }
  &.gray {
    background-color: #d9dbe3;
    color: #5b616f;
  }
  &.transparent {
    background-color: transparent;
    font-weight: inherit;
  }
  &.small {
    line-height: 24px;
  }
  &.medium {
    line-height: 36px;
    font-size: 13px;
    padding: 0 20px;
  }
  &.big {
    line-height: 43px;
    font-size: 14px;
    padding: 0 22px;
  }
  &.fill {
    width: 100%;
  }
}
