<mat-card class="course-editor">
  <mat-card-title class="clip-text course-editor__title">{{title || 'New course'}}</mat-card-title>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)" class="course-editor__content">
    <div class="field-label">
      <label for="title">Title:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="course-editor__input">
      <input matInput id="title" formControlName="title" autocomplete="off" placeholder="Add title" [errorStateMatcher]="matcher">
      <mat-error *ngIf="isFieldValid('title')">
        Please enter title
      </mat-error>
    </mat-form-field>
    <div class="field-label">
      <label for="description">Description:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="course-editor__input">
      <textarea matInput id="description" rows="5" placeholder="Add description" formControlName="description" [errorStateMatcher]="matcher"></textarea>
      <mat-error *ngIf="isFieldValid('description')">
        Please enter description
      </mat-error>
    </mat-form-field>
    <div class="course-editor__column-s">
      <div class="field-label">
        <label for="duration">Duration:</label>
        <span>*required</span>
      </div>
      <mat-form-field appearance="outline" class="course-editor__input">
        <input matInput id="duration" type="number" placeholder="minutes" formControlName="duration" [errorStateMatcher]="matcher" autocomplete="off">
        <mat-error *ngIf="isFieldValid('duration')">
          Please enter positive duration
        </mat-error>
      </mat-form-field>
    </div>
    <div class="course-editor__column-s">
      <div class="field-label">
        <label for="date">Date:</label>
        <span>*required</span>
      </div>
      <mat-form-field appearance="outline" class="course-editor__input" (click)="picker.open()">
        <input matInput readonly id="date" [matDatepicker]="picker" placeholder="dd/mm/yyyy" formControlName="creationDate" [errorStateMatcher]="matcher">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="isFieldValid('creationDate')">
          Please enter creation date
        </mat-error>
      </mat-form-field>
    </div>

    <mat-card-footer>
      <a mat-button routerLink="/courses" class="btn big gray">
        Cancel
      </a>
      <button mat-button type="submit" class="btn big green course-editor__pad-btn">
        Save
      </button>
    </mat-card-footer>
  </form>
</mat-card>
