<mat-card class="course-editor">
  <mat-card-title class="clip-text course-editor__title">{{title || 'New course'}}</mat-card-title>
  <form [formGroup]="courseForm" (ngSubmit)="onSubmit(courseForm.value)" class="course-editor__content">
    <div class="field-label">
      <label for="title">Title:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="course-editor__input">
      <input matInput id="title" formControlName="title" autocomplete="off" placeholder="Add title">
      <mat-error>
        Please enter title
      </mat-error>
    </mat-form-field>
    <div class="field-label">
      <label for="description">Description:</label>
      <span>*required</span>
    </div>
    <mat-form-field appearance="outline" class="course-editor__input">
      <textarea matInput id="description" rows="5" placeholder="Add description" formControlName="description"></textarea>
      <mat-error>
        Please enter description
      </mat-error>
    </mat-form-field>
    <div class="form-field course-editor__column-s">
      <div class="field-label">
        <label for="duration">Duration:</label>
        <mat-error *ngIf="isFieldInvalid('duration')">
          Please enter valid duration
        </mat-error>
        <span>*required</span>
      </div>
      <agmp-number-input formControlName="duration"></agmp-number-input>
    </div>
    <div class="form-field course-editor__column-s">
      <div class="field-label">
        <label for="creationDate">Date:</label>
        <mat-error *ngIf="isFieldInvalid('creationDate')">
          Please enter valid date
        </mat-error>
        <span>*required</span>
      </div>
      <agmp-date-input formControlName="creationDate" [ngClass]="{'invalid': isFieldInvalid('creationDate')}"></agmp-date-input>
    </div>

    <mat-card-footer>
      <a mat-button routerLink="/courses" class="btn big gray">
        Cancel
      </a>
      <button mat-button type="submit" [disabled]="courseForm.invalid" class="btn big green course-editor__pad-btn">
        Save
      </button>
    </mat-card-footer>
  </form>
</mat-card>
