.course {
  margin-bottom: 24px;

  &--top {
    background-color: rgba(155,200,55,.05);
  }

  &__header {
    margin-bottom: 8px;
  }

  &__title {
    margin-bottom: 0;
    width: 200px;
  }

  &__content {
    margin-right: 88px;
    flex: 1;
  }

  &__description {
    font-size: 14px;
    font-weight: 400;
    color: #525462;
    line-height: 24px;
  }

  &__meta {
    margin-left: 16px;
    color: #b9bdce;
    font-size: 11px;
  }

  &__pad-btn {
    margin-left: 12px;
  }

  &__rate {
    margin-left: 15px;
  }
}
