.header {
  font-size: 13px;
  font-weight: 200;

  &__fill-container {
    flex: 1 1 auto;

    & img {
      vertical-align: bottom;
    }
  }

  &__section {
    margin-left: 25px;
  }

  &__icon {
    margin-right: 9px;
  }
}
