@import "styles/angular-material-patch";
@import "styles/button";
@import "styles/icon";
@import "styles/common";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}

html, body { height: 100%; }
body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
