@import "styles/angular-material-patch";
@import "styles/button";
@import "styles/icon";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body {
  margin: 0;
}
